{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
	<h1>Тут у нас главная страница</h1>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Cum esse iusto quis voluptatum!</li>
    <li>Consequatur illo maiores nobis totam.</li>
    <li>Aut facere fugiat ipsum rem.</li>
    <li>Dicta eaque minima omnis provident!</li>
    <li>Dolorum illo nesciunt quibusdam quis.</li>
    <li>Accusamus atque dolor est et?</li>
    <li>Eveniet laborum minus qui! Odit.</li>
    <li>A nemo nostrum nulla totam.</li>
    <li>Amet aperiam doloremque ipsa ut?</li>
    <li>Ab laudantium pariatur quo suscipit.</li>
    <li>Consectetur exercitationem porro quasi quos.</li>
    <li>Dolore dolorum expedita laudantium voluptatum!</li>
    <li>Blanditiis cupiditate labore sunt voluptatem!</li>
    <li>Magni provident quod voluptatem voluptates!</li>
    <li>Dignissimos officiis tempore veniam voluptatum!</li>
    <li>Cum nobis qui velit voluptatibus.</li>
    <li>Laborum odio quia rem suscipit.</li>
    <li>Ad pariatur sapiente sit voluptatem.</li>
    <li>A alias dolor explicabo laborum.</li>
    <li>Consequatur earum odit quas voluptatem.</li>
    <li>Consectetur nesciunt quod rem voluptatibus?</li>
    <li>Eius non repellendus sed veniam.</li>
    <li>Animi architecto doloremque nulla voluptatem?</li>
    <li>Ipsam maxime pariatur placeat rerum!</li>
    <li>Aut autem eaque itaque nihil.</li>
    <li>Eaque, facere, repudiandae? Alias, omnis.</li>
    <li>Aliquid consequuntur dicta quam tempora.</li>
    <li>Eius hic sunt ullam voluptatum?</li>
    <li>Doloribus incidunt nemo obcaecati quibusdam.</li>
    <li>Modi mollitia voluptas voluptates voluptatibus.</li>
    <li>Architecto debitis eos quaerat quod.</li>
    <li>Ea expedita explicabo optio quos?</li>
    <li>Autem inventore quidem repellat voluptas.</li>
    <li>Animi eveniet nisi quia saepe.</li>
    <li>Delectus fuga nobis sapiente sit.</li>
    <li>Consequatur perspiciatis porro quas vel.</li>
    <li>Aspernatur aut nulla recusandae vero?</li>
    <li>Explicabo id natus praesentium quas.</li>
    <li>Accusantium nostrum nulla quo quos!</li>
    <li>A assumenda consequuntur fugit nesciunt.</li>
    <li>Ad aspernatur debitis est repellat.</li>
    <li>Atque cumque ipsam perferendis voluptatibus!</li>
    <li>Accusantium laborum molestiae perspiciatis ratione.</li>
    <li>Corporis id non vero voluptatibus.</li>
    <li>Dicta ducimus officiis quas veniam.</li>
    <li>Autem illo pariatur quis repellat!</li>
    <li>Asperiores dolorem ducimus quas repellendus?</li>
    <li>Atque deserunt laudantium necessitatibus reprehenderit!</li>
    <li>Ipsa iure libero recusandae tempore!</li>
    <li>Distinctio expedita fugit illo veniam?</li>
    <li>Aliquid corporis explicabo maiores quam.</li>
    <li>Adipisci atque consequatur debitis laborum.</li>
    <li>Aspernatur autem delectus quidem vel.</li>
    <li>Ab distinctio excepturi in sit.</li>
    <li>Dolorem quibusdam rem soluta tempora.</li>
    <li>Explicabo nihil quaerat sit voluptatum!</li>
    <li>Cupiditate molestias nulla quos sit.</li>
    <li>Asperiores dicta eum iusto tenetur.</li>
    <li>Aperiam deserunt doloremque repudiandae veniam?</li>
    <li>Assumenda natus repellat tempora veniam.</li>
    <li>Accusantium est inventore iusto nostrum?</li>
    <li>Autem eligendi natus similique vero.</li>
    <li>Ipsa ipsam quisquam rem repellendus.</li>
    <li>Aliquid eum libero necessitatibus nemo!</li>
    <li>Animi molestiae quia quo recusandae.</li>
    <li>Alias aliquam fugiat modi optio?</li>
    <li>Consequuntur deleniti provident qui quod.</li>
    <li>Consequatur dignissimos ducimus maxime sit!</li>
    <li>Aliquid nobis sed similique sint.</li>
{% endblock %}